body {
    line-height: 1.4;
    font-family: 'Nunito', sans-serif;
    color: #67696c;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    overflow-x: hidden;
  }
.header {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    background-size: cover;
    min-height: 650px;
    position: relative;
  }
  
  .bg-color {
    background-color: rgba(255, 255, 255, 0.354);
    min-height: 650px;
  }
  
  
  
  .navbar-default {
    background-color: transparent;
    border: 0px;
    padding: 20px 0;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
      .navbar-collapse {
          background: rgb(0, 0, 0);
      border-top: 0;
      }
  }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #002F2F;
  }
  
  .top-nav-collapse {
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .logo-dec {
    color: #1a1f28;
  }
  
  .navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
  }
  
  .navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-top: 6px;
  }
  
  .navbar-default .navbar-nav>li>a {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }
  
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #818eb3;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #008562;
  }
  
  .banner-info {
    padding-top: 140px;
    color: #fff;
  }
  
  .bnr-title, .bnr-sub-title {
    font-family: 'Nunito', sans-serif;
  }
  
  h1.bnr-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  h2.bnr-sub-title {
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: 700;
  }
  
  .bnr-para {
    font-weight: 300;
  }
  
  .btn-download, .btn-more, .btn-download:hover, .btn-download:focus, .btn-more:focus {
    text-transform: uppercase;
    margin-top: 50px;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 60px;
    margin: 50px 10px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
  }
  
  .btn-download {
    background-color: #1a1f28;
  }
  
  .btn-more, .btn-more:focus {
    margin-left: 15px;
    border: 1px solid #1a1f28;
    color: #1a1f28;
  }
  
  .btn-more:hover {
    background: #1a1f28;
    color: #fff;
  }
  
  .overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
  }

/*Team Image Styling*/
.rounded{
    border-radius:50%;
}

.vision-item h1 span {
    opacity: 0.7;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 900;
    padding-right: 6px;
  }

  .vision{
      color:black;
      font-size:20px;
  }

  #vision-and-mission{
    padding-top:50px;
    padding-bottom:70px;
    background-color:rgb(238, 238, 238);
     margin-top:100px;
  }

  #team{
      margin-top:100px;
  }


  